.header {
    grid-area: header;
    background-color: #157575;
    color: white;
    font-size: 34px;
}

.header .logo {
    height: 100%;
    margin-left: 20px;
}

.loginBlock {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.logoutButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logoutArrow {
    height: 30px;
    transform: rotate(180deg);
    transition: 500ms;
}

.logoutButton:hover .logoutArrow {
    transform: rotate(180deg) translateX(-10px);
}