* {
    font-family: 'Roboto', sans-serif;
}

.app-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
    grid-template-areas: "header header"
                         "nav content";
}

.app-wrapper .content {
    grid-area: content;
}
